<div class="actions">
  <button class="btn btn-primary btn-lg goBack" [routerLink] = "['/']">
    Go Back
  </button>
  <button class="btn btn-primary btn-lg clearCart" (click)="clearCart()">
    Clear Cart
  </button>
</div>
<div class="cardHeader">
  Your Shopping Cart - {{ this.selectedItems.length }} items in cart
</div>
<div class="mat-elevation-z8 mb-5" >

  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Item Name </th>
      <td mat-cell *matCellDef="let element"> {{element.item_name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="discountPrice">
      <th mat-header-cell *matHeaderCellDef> Discount Price </th>
      <td mat-cell *matCellDef="let element"> {{element.discountPrice | currency}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="discountPercent">
      <th mat-header-cell *matHeaderCellDef> Discount Percent </th>
      <td mat-cell *matCellDef="let element"> {{element.discountPercent}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
      <button class="btn btn-primary" (click)="removeElement(element)">
        Remove
      </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>

  <div class="totalPrice">
    Total: {{ totalPrice | currency}}
  </div>
</div>
