.card{
  margin-top: 2%;
  padding-top: -15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  img{
    height: 30vh
  }
  .card-text{

  }
  .price{
    width: 100%;
    span{
      color: rgb(7, 126, 223);
      font-weight: 600;
      font-size: 2rem;
    }

  }
  .discount{
    width: 100%;
    text-align: right;
    span{
      color: #000000;
      font-weight: 600;
      font-size: 2rem;
    }

  }
}
.card:hover{
  transition: transform .2s; /* Animation */
  transform: scale(1.02);
}

